@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
body {
    font-family: Dongle;
    padding: 20px;
    margin: 0;
    background-image: linear-gradient(rgb(247, 190, 255), rgb(223, 117, 255));
    background-repeat: no-repeat;
    height: 100vh;
}

#app {
    max-width: 600px;
    margin: auto;
    background: linear-gradient(rgb(255, 113, 193), rgb(195, 0, 255));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="number"] {
    width: calc(50% - 12px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.bg{
    background: yellow ;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #ff0385;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4f004e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

.delete-btn {
    cursor: pointer;
    color: red;
}